<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="{{path('home')}}">The Movie List Website</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('home')}}">Home</a>
                </li>
                {% if not app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{path('login')}}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('register')}}">Register</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{{path('profile')}}" class="nav-link">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="{{path("logout")}}" class="nav-link">Logout</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{{path('movies')}}" class="nav-link">Movies</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>