{% extends 'base.html.twig' %}

{% block title %}Movie List{% endblock %}

{% block body %}
<div class="row">
    <h1 class="mt-5">Welcome to the movie list website</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam quasi eos, nulla distinctio nisi voluptate
        odit. Dignissimos perspiciatis adipisci reiciendis deleniti reprehenderit, enim placeat veniam velit nobis rerum
        blanditiis possimus?</p>
</div>
{% endblock %}