{% extends 'base.html.twig' %}

{% block body %}

{# {% for movie in content.results %}
<div class="card mb-3 col-md-6 col-sm-12" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="https://image.tmdb.org/t/p/w1280/{{movie.poster_path}}" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{movie.title}}</h5>
                <p class="card-text">{{movie.overview}}</p>
                <p class="card-text">Release Date: <small class="text-muted">{{movie.release_date}}</small></p>
            </div>
        </div>
    </div>
</div>
{% endfor %} #}
{# <div class="row mb-2">
    <a class="btn btn-primary" href="{{path("movie_register")}}">Register Top 50 Movies</a>
</div> #}
<div class="row row-cols-1 row-cols-md-2">
    {% for movie in content.results %}
    <div class="col mb-4">
        <div class="card">
            <img src="https://image.tmdb.org/t/p/w1280/{{movie.backdrop_path}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{movie.title}}</h5>
                <p class="card-text">{{movie.overview}}</p>
                <p class="card-text">Release Date: <small class="text-muted">{{movie.release_date}}</small></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{# Movie : {{content.results[0].title}}
<br />
Cast: {% for cast in firstcast %}
<ul>
    <li><strong>Name: {{cast.name}}</strong><span> - Character: {{cast.character}}</span></li>
</ul>
{% endfor %} #}


{% endblock %}