{% extends 'base.html.twig' %}

{% block body %}

{% if succesMsg is defined %}
<div class="alert alert-primary" role="alert">
    {{succesMsg}}
</div>
{% endif %}
<div class="row justify-content-center col-sm-12">
    <form class="form d-flex flex-column align-items-center" action="{{path('login')}}" method="post">
        <img class="mb-4" src="https://getbootstrap.com/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72"
            height="72">
        <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
        <div class="form-group">
            <label for="username">Nom d'utilisateur</label>
            <input class="form-control" required placeholder="Votre username" name="_username" id="username">
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input class="form-control" id name="_password" required placeholder="Votre Mot de Passe" type="password"
                id="password">
        </div>
        <input class="btn btn-primary" type="submit">
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
    </form>
</div>
{% endblock %}