{% extends 'base.html.twig' %}


{% block body %}
<div class="col-md-6 col-sm-12 justify-content-center">
    <h1>S'inscrire</h1>
    {% if successMsg is defined %}
    <div class="alert alert-success" role="alert">
        {{successMsg}}
    </div>
    {% endif %}
    {{form_start(formRegister)}}
    {{form_row(formRegister.username, {'attr' : {'placeholder' : 'Votre pseudo'}})}}
    {{form_row(formRegister.password, {'attr' : {'placeholder' : 'Votre mot de passe'}})}}
    {{form_row(formRegister.email, {'attr' : {'placeholder' : 'Votre email'}})}}
    <button class="btn btn-secondary">S'inscrire</button>
    {{form_end(formRegister)}}
</div>
{% endblock %}